<div>

  <input
    [(ngModel)]="username"
    (keydown.enter)="searchUsers(username, userPageIndex)"
  />

  <button (click)="searchUsers(username, userPageIndex)">search</button>

  <div class="main">
    <div class="users">
      <app-list
        title="users"
        icon=">"
        [loading]=userLoading
        [isCursor]=true
        [users]=users
        [pageIndex]=userPageIndex
        (clickArrow)="searchUsers($event)"
        (clickItem)="searchFollowersAndFollowings($event)"
      ></app-list>
    </div>

    <div class="followers">
      <app-list
        title="followers"
        icon=""
        [loading]=followersLoading
        [isCursor]=false
        [users]=followers
        [pageIndex]=followerPageIndex
        (clickArrow)="searchFollowers($event)"
      ></app-list>
    </div>

    <div class="followings">
      <app-list
        title="followings"
        icon=""
        [loading]=followingsLoading
        [isCursor]=false
        [users]=followings
        [pageIndex]=followingsPageIndex
        (clickArrow)="searchFollowings($event)"
      ></app-list>
    </div>
  </div>
</div>
